## VacationPy

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

## Create DataFrom for WeatherPY

In [2]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Torbay,20,CA,1619033614,57,47.6666,-52.7314,51.01,18.41
1,Vaini,40,TO,1619033812,94,-21.2000,-175.2000,73.40,3.44
2,Leningradskiy,33,RU,1619033812,67,69.3833,178.4167,27.19,5.97
3,Puerto Ayora,75,EC,1619033813,78,-0.7393,-90.3518,80.60,11.50
4,George Town,40,MY,1619033583,89,5.4112,100.3354,80.60,2.30
...,...,...,...,...,...,...,...,...,...
537,Santiago,40,CL,1619033924,35,-33.4569,-70.6483,75.00,8.05
538,Shimoda,5,JP,1619033959,79,34.6667,138.9500,52.00,3.00
539,Benguela,27,AO,1619033959,85,-12.5763,13.4055,81.09,4.72
540,Greifswald,1,DE,1619033959,68,54.1000,13.3833,44.01,1.01
541,Marquette,99,US,1619033960,44,46.5333,-87.6335,36.00,5.01

### Create a Humidity Heatmap

In [3]:
# API Key for gmaps
gmaps.configure(api_key=g_key)

# Set latitude and longitude
locations = weather_data[["Lat", "Lng"]]

# Set Humidity
humidity = weather_data["Humidity"]

In [5]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -8.0), zoom_level=2)
max_intensity = np.max(humidity)

# heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))