## WeatherPy

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import scipy.stats as st
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Cities List

In [4]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

587

In [5]:
city_name_list = []
cloudiness_list = []
country_list = []
date_list = []
humidity_list = []
lat_list = []
lng_list = []
max_temp_list = []
wind_speed_list = []
index_counter = 0
set_counter = 1

## Perfrom API Calls

In [6]:
print("Start Data Retrieval ")
print("-----------------------------")

base_url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
query_url = f"{base_url}appid={weather_api_key}&units={units}&q="


# For each city name in cities list, do below things...
for index, city in enumerate(cities, start = 1):
    try:
        response = requests.get(query_url + city).json()
        city_name_list.append(response["name"])
        cloudiness_list.append(response["clouds"]["all"])
        country_list.append(response["sys"]["country"])
        date_list.append(response["dt"])
        humidity_list.append(response["main"]["humidity"])
        lat_list.append(response["coord"]["lat"])
        lng_list.append(response["coord"]["lon"])
        max_temp_list.append(response['main']['temp_max'])
        wind_speed_list.append(response["wind"]["speed"])
        if index_counter > 49:
            index_counter = 0
            set_counter = set_counter + 1
    
        else:
            index_counter = index_counter + 1
            
        print(f"Record {index_counter} of Set {set_counter} : {city}") 
  
    except(KeyError, IndexError):
        print("City not found. Next...")

print("-----------------------------")
print("Data Complete")
print("-----------------------------")

Start Data Retrieval
-----------------------------
Record 1 of Set 1 : torbay
Record 2 of Set 1 : vaini
Record 3 of Set 1 : leningradskiy
Record 4 of Set 1 : puerto ayora
Record 5 of Set 1 : georgetown
Record 6 of Set 1 : mahebourg
Record 7 of Set 1 : hermanus
Record 8 of Set 1 : adre
Record 9 of Set 1 : rennes
Record 10 of Set 1 : lamar
City not found. Next...
Record 11 of Set 1 : narsaq
Record 12 of Set 1 : alghero
Record 13 of Set 1 : nantong
Record 14 of Set 1 : atuona
Record 15 of Set 1 : atambua
Record 16 of Set 1 : hasaki
Record 17 of Set 1 : port alfred
Record 18 of Set 1 : kavieng
Record 19 of Set 1 : pangnirtung
Record 20 of Set 1 : bulawayo
Record 21 of Set 1 : salalah
Record 22 of Set 1 : churapcha
Record 23 of Set 1 : upernavik
Record 24 of Set 1 : gasa
Record 25 of Set 1 : ust-kulom
Record 26 of Set 1 : batagay
Record 27 of Set 1 : jining
Record 28 of Set 1 : ketchikan
Record 29 of Set 1 : rikitea
Record 30 of Set 1 : chuy
Record 31 of Set 1 : quatre cocos
Record 32 of Set 1 : geraldton
Record 33 of Set 1 : kieta
Record 34 of Set 1 : dingle
Record 35 of Set 1 : punta arenas
Record 36 of Set 1 : kaka
Record 37 of Set 1 : ushuaia
Record 38 of Set 1 : arraial do cabo
Record 39 of Set 1 : bambous virieux
Record 40 of Set 1 : khandyga
City not found. Next...
Record 41 of Set 1 : port elizabeth
Record 42 of Set 1 : saint george
Record 43 of Set 1 : pochutla
Record 44 of Set 1 : praia da vitoria
Record 45 of Set 1 : saldanha
Record 46 of Set 1 : severo-kurilsk
Record 47 of Set 1 : airai
Record 48 of Set 1 : ribeira grande
Record 49 of Set 1 : kjollefjord
Record 50 of Set 1 : ukiah
Record 0 of Set 2 : san andres
Record 1 of Set 2 : jamestown
Record 2 of Set 2 : busselton
Record 3 of Set 2 : hobart
Record 4 of Set 2 : walvis bay
Record 5 of Set 2 : barrow
Record 6 of Set 2 : yellowknife
Record 7 of Set 2 : saint-philippe
Record 8 of Set 2 : oranjemund
Record 9 of Set 2 : cayenne
Record 10 of Set 2 : mashhad
Record 11 of Set 2 : kokkola
Record 12 of Set 2 : beloha
Record 13 of Set 2 : kapaa
Record 14 of Set 2 : penhold
Record 15 of Set 2 : tuktoyaktuk
Record 16 of Set 2 : norman wells
Record 17 of Set 2 : hithadhoo
Record 18 of Set 2 : krasnoselkup
Record 19 of Set 2 : faanui
Record 20 of Set 2 : sorland
Record 21 of Set 2 : teahupoo
Record 22 of Set 2 : albany
Record 23 of Set 2 : udachnyy
Record 24 of Set 2 : anadyr
Record 25 of Set 2 : lazaro cardenas
Record 26 of Set 2 : mareeba
Record 27 of Set 2 : saskylakh
Record 28 of Set 2 : ostrovnoy
Record 29 of Set 2 : bengkulu
Record 30 of Set 2 : zonguldak
Record 31 of Set 2 : huanren
City not found. Next...
Record 32 of Set 2 : ixtapa
Record 33 of Set 2 : lebu
Record 34 of Set 2 : shalakusha
Record 35 of Set 2 : ohara
Record 36 of Set 2 : avarua
Record 37 of Set 2 : hukuntsi
Record 38 of Set 2 : bluff
Record 39 of Set 2 : san quintin
Record 40 of Set 2 : ponta do sol
Record 41 of Set 2 : clyde river
Record 42 of Set 2 : east london
Record 43 of Set 2 : akyab
Record 44 of Set 2 : bilgoraj
City not found. Next...
Record 45 of Set 2 : shwebo
Record 46 of Set 2 : bethel
Record 47 of Set 2 : mataura
Record 48 of Set 2 : novyy urengoy
Record 49 of Set 2 : tarakan
Record 50 of Set 2 : whitehorse
Record 0 of Set 3 : hilo
Record 1 of Set 3 : sundsvall
Record 2 of Set 3 : longyearbyen
Record 3 of Set 3 : setermoen
Record 4 of Set 3 : hofn
Record 5 of Set 3 : ust-nera
Record 6 of Set 3 : misratah
Record 7 of Set 3 : passos
Record 8 of Set 3 : gamba
Record 9 of Set 3 : nikolskoye
Record 10 of Set 3 : killybegs
Record 11 of Set 3 : ozu
Record 12 of Set 3 : cape town
Record 13 of Set 3 : dikson
City not found. Next...
Record 14 of Set 3 : thompson
Record 15 of Set 3 : vytegra
Record 16 of Set 3 : abha
Record 17 of Set 3 : siocon
Record 18 of Set 3 : guerrero negro
Record 19 of Set 3 : nicoya
City not found. Next...
Record 20 of Set 3 : sao felix do xingu
Record 21 of Set 3 : lompoc
Record 22 of Set 3 : barkhan
Record 23 of Set 3 : tasiilaq
Record 24 of Set 3 : new norfolk
Record 25 of Set 3 : norway
Record 26 of Set 3 : kavaratti
Record 27 of Set 3 : schwerin
Record 28 of Set 3 : cabo san lucas
City not found. Next...
Record 29 of Set 3 : winneba
Record 30 of Set 3 : borba
City not found. Next...
Record 31 of Set 3 : tiksi
Record 32 of Set 3 : risod
City not found. Next...
Record 33 of Set 3 : namibe
City not found. Next...
Record 34 of Set 3 : esperance
Record 35 of Set 3 : mabaruma
Record 36 of Set 3 : qaanaaq
Record 37 of Set 3 : port blair
Record 38 of Set 3 : vao
Record 39 of Set 3 : arman
Record 40 of Set 3 : blairmore
Record 41 of Set 3 : rio grande
Record 42 of Set 3 : eureka
Record 43 of Set 3 : bida
Record 44 of Set 3 : watsa
Record 45 of Set 3 : aklavik
Record 46 of Set 3 : sao miguel do araguaia
Record 47 of Set 3 : sisimiut
Record 48 of Set 3 : reyes
Record 49 of Set 3 : poum
Record 50 of Set 3 : serenje
Record 0 of Set 4 : castro
Record 1 of Set 4 : souillac
Record 2 of Set 4 : naze
Record 3 of Set 4 : antofagasta
Record 4 of Set 4 : zhigansk
Record 5 of Set 4 : sorong
Record 6 of Set 4 : ternate
Record 7 of Set 4 : marsaxlokk
Record 8 of Set 4 : nyurba
City not found. Next...
Record 9 of Set 4 : jiazi
Record 10 of Set 4 : qui nhon
Record 11 of Set 4 : bredasdorp
Record 12 of Set 4 : korla
Record 13 of Set 4 : erzin
Record 14 of Set 4 : talnakh
Record 15 of Set 4 : sarahan
Record 16 of Set 4 : labuhan
City not found. Next...
City not found. Next...
Record 17 of Set 4 : trairi
Record 18 of Set 4 : constantine
City not found. Next...
Record 19 of Set 4 : isangel
Record 20 of Set 4 : cochrane
Record 21 of Set 4 : lorengau
Record 22 of Set 4 : san ignacio
Record 23 of Set 4 : tsiroanomandidy
Record 24 of Set 4 : asfi
Record 25 of Set 4 : mount gambier
Record 26 of Set 4 : kabarnet
Record 27 of Set 4 : creel
Record 28 of Set 4 : banda aceh
Record 29 of Set 4 : auki
Record 30 of Set 4 : iralaya
Record 31 of Set 4 : pitimbu
Record 32 of Set 4 : wates
Record 33 of Set 4 : sawtell
Record 34 of Set 4 : taoudenni
Record 35 of Set 4 : hay river
Record 36 of Set 4 : chamrajnagar
Record 37 of Set 4 : sao filipe
Record 38 of Set 4 : estelle
Record 39 of Set 4 : killorglin
Record 40 of Set 4 : senj
City not found. Next...
Record 41 of Set 4 : wadi maliz
Record 42 of Set 4 : pevek
Record 43 of Set 4 : itarema
Record 44 of Set 4 : wronki
Record 45 of Set 4 : sistranda
Record 46 of Set 4 : sao paulo de olivenca
Record 47 of Set 4 : vardo
Record 48 of Set 4 : kihei
Record 49 of Set 4 : sembakung
Record 50 of Set 4 : nanortalik
Record 0 of Set 5 : qasigiannguit
Record 1 of Set 5 : bousse
Record 2 of Set 5 : cidreira
City not found. Next...
Record 3 of Set 5 : aksarka
Record 4 of Set 5 : katsuura
Record 5 of Set 5 : belyy yar
Record 6 of Set 5 : carnarvon
Record 7 of Set 5 : magadi
Record 8 of Set 5 : morondava
Record 9 of Set 5 : carutapera
Record 10 of Set 5 : port keats
Record 11 of Set 5 : santa isabel do rio negro
Record 12 of Set 5 : altay
Record 13 of Set 5 : axim
Record 14 of Set 5 : touros
Record 15 of Set 5 : xocali
Record 16 of Set 5 : chokurdakh
Record 17 of Set 5 : tura
Record 18 of Set 5 : naberera
Record 19 of Set 5 : maniitsoq
Record 20 of Set 5 : akhmim
Record 21 of Set 5 : ugoofaaru
Record 22 of Set 5 : ilulissat
Record 23 of Set 5 : fortuna
Record 24 of Set 5 : victoria
Record 25 of Set 5 : lennestadt
Record 26 of Set 5 : nome
Record 27 of Set 5 : vanavara
Record 28 of Set 5 : valdivia
Record 29 of Set 5 : yumen
Record 30 of Set 5 : srednekolymsk
Record 31 of Set 5 : izhma
Record 32 of Set 5 : hambantota
Record 33 of Set 5 : sussex
Record 34 of Set 5 : puerto madryn
City not found. Next...
Record 35 of Set 5 : belmonte
Record 36 of Set 5 : dalvik
Record 37 of Set 5 : dauphin
City not found. Next...
Record 38 of Set 5 : saint-pierre
Record 39 of Set 5 : lavrentiya
Record 40 of Set 5 : thunder bay
City not found. Next...
Record 41 of Set 5 : hamilton
Record 42 of Set 5 : los llanos de aridane
Record 43 of Set 5 : caravelas
Record 44 of Set 5 : bonthe
Record 45 of Set 5 : butaritari
Record 46 of Set 5 : ayna
Record 47 of Set 5 : ulaangom
Record 48 of Set 5 : bilma
Record 49 of Set 5 : camopi
Record 50 of Set 5 : erenhot
Record 0 of Set 6 : tuy hoa
Record 1 of Set 6 : san cristobal
Record 2 of Set 6 : mana

Record 3 of Set 6 : namuac
Record 4 of Set 6 : maragogi
City not found. Next...
Record 5 of Set 6 : presidencia roque saenz pena
Record 6 of Set 6 : mar del plata
Record 7 of Set 6 : bone
Record 8 of Set 6 : tuatapere
Record 9 of Set 6 : san patricio
Record 10 of Set 6 : vila franca do campo
Record 11 of Set 6 : fort wellington
Record 12 of Set 6 : bathsheba
Record 13 of Set 6 : kissidougou
Record 14 of Set 6 : susanville
Record 15 of Set 6 : syracuse
Record 16 of Set 6 : plettenberg bay
City not found. Next...
Record 17 of Set 6 : kodiak
Record 18 of Set 6 : copiapo
City not found. Next...
City not found. Next...
Record 19 of Set 6 : salinas
Record 20 of Set 6 : manacapuru
Record 21 of Set 6 : sassandra
Record 22 of Set 6 : methoni
Record 23 of Set 6 : roald
Record 24 of Set 6 : alofi
Record 25 of Set 6 : olinda
Record 26 of Set 6 : aykhal
Record 27 of Set 6 : taltal
Record 28 of Set 6 : emerald
Record 29 of Set 6 : khatanga
Record 30 of Set 6 : san ramon
Record 31 of Set 6 : beringovskiy
Record 32 of Set 6 : pringsewu
Record 33 of Set 6 : belaya gora
Record 34 of Set 6 : berberati
Record 35 of Set 6 : laguna
City not found. Next...
Record 36 of Set 6 : sitka
Record 37 of Set 6 : calama
Record 38 of Set 6 : hutchinson
Record 39 of Set 6 : cherskiy
Record 40 of Set 6 : lasa
Record 41 of Set 6 : dicabisagan
Record 42 of Set 6 : doka
Record 43 of Set 6 : yeppoon
Record 44 of Set 6 : klaksvik
Record 45 of Set 6 : ekibastuz
Record 46 of Set 6 : la ronge
Record 47 of Set 6 : yerbogachen
Record 48 of Set 6 : antalaha
Record 49 of Set 6 : provideniya
Record 50 of Set 6 : porto recanati
Record 0 of Set 7 : vestmanna
City not found. Next...
Record 1 of Set 7 : pierre
Record 2 of Set 7 : potosi
Record 3 of Set 7 : fort nelson
City not found. Next...
Record 4 of Set 7 : karimpur
Record 5 of Set 7 : mandan
Record 6 of Set 7 : roma
Record 7 of Set 7 : garissa
Record 8 of Set 7 : gambela
Record 9 of Set 7 : nouadhibou
Record 10 of Set 7 : waverly
Record 11 of Set 7 : petropavlovka
Record 12 of Set 7 : ulladulla
Record 13 of Set 7 : paragominas
Record 14 of Set 7 : margate
Record 15 of Set 7 : roseburg
Record 16 of Set 7 : teya
Record 17 of Set 7 : homer
Record 18 of Set 7 : meadow lake
Record 19 of Set 7 : la asuncion
Record 20 of Set 7 : pio ix
Record 21 of Set 7 : zaysan
Record 22 of Set 7 : luderitz
Record 23 of Set 7 : sinnamary
Record 24 of Set 7 : westport
Record 25 of Set 7 : raudeberg
Record 26 of Set 7 : port hedland
Record 27 of Set 7 : kothi
Record 28 of Set 7 : cap malheureux
Record 29 of Set 7 : millinocket
Record 30 of Set 7 : manaus
Record 31 of Set 7 : kousseri
Record 32 of Set 7 : bosaso
Record 33 of Set 7 : birao
Record 34 of Set 7 : doha
Record 35 of Set 7 : timbo
Record 36 of Set 7 : murovani kurylivtsi
Record 37 of Set 7 : sunrise
City not found. Next...
Record 38 of Set 7 : gorom-gorom
City not found. Next...
Record 39 of Set 7 : fairbanks
Record 40 of Set 7 : goma
Record 41 of Set 7 : iwanai
Record 42 of Set 7 : iqaluit
Record 43 of Set 7 : tocopilla
Record 44 of Set 7 : cuitlahuac
Record 45 of Set 7 : tukrah
City not found. Next...
Record 46 of Set 7 : tecoanapa
Record 47 of Set 7 : mao
Record 48 of Set 7 : contamana
Record 49 of Set 7 : hailar
Record 50 of Set 7 : ermelo
Record 0 of Set 8 : sungairaya
Record 1 of Set 8 : las palmas
Record 2 of Set 8 : merauke
Record 3 of Set 8 : guiglo
Record 4 of Set 8 : husavik
Record 5 of Set 8 : tateyama
Record 6 of Set 8 : egvekinot
City not found. Next...
Record 7 of Set 8 : omsukchan
City not found. Next...
Record 8 of Set 8 : zhangjiakou
Record 9 of Set 8 : port lincoln
Record 10 of Set 8 : payson
Record 11 of Set 8 : south venice
Record 12 of Set 8 : jumla
City not found. Next...
Record 13 of Set 8 : kaitangata
Record 14 of Set 8 : san carlos de bariloche
Record 15 of Set 8 : basco
Record 16 of Set 8 : parrita
Record 17 of Set 8 : tautira
Record 18 of Set 8 : harqalah
Record 19 of Set 8 : kapoeta
Record 20 of Set 8 : buenos aires
Record 21 of Set 8 : esso
Record 22 of Set 8 : lagoa
Record 23 of Set 8 : yulara
Record 24 of Set 8 : nazca
Record 25 of Set 8 : umm lajj
Record 26 of Set 8 : sioux lookout
Record 27 of Set 8 : gat
Record 28 of Set 8 : agua branca
Record 29 of Set 8 : san rafael del sur
Record 30 of Set 8 : akdepe
City not found. Next...
Record 31 of Set 8 : constitucion
Record 32 of Set 8 : pauini
Record 33 of Set 8 : bowen
Record 34 of Set 8 : razole
Record 35 of Set 8 : coihaique
Record 36 of Set 8 : miroslav
Record 37 of Set 8 : skibbereen
City not found. Next...
Record 38 of Set 8 : otukpo
Record 39 of Set 8 : vilyuysk
Record 40 of Set 8 : tarko-sale
Record 41 of Set 8 : araxa
Record 42 of Set 8 : gornopravdinsk
Record 43 of Set 8 : lulea
Record 44 of Set 8 : college
Record 45 of Set 8 : harnosand
Record 46 of Set 8 : luxor
Record 47 of Set 8 : boralday
Record 48 of Set 8 : stanislav
Record 49 of Set 8 : impfondo
Record 50 of Set 8 : urucara
City not found. Next...
Record 0 of Set 9 : batagay-alyta
Record 1 of Set 9 : zyryanka
Record 2 of Set 9 : saraland
Record 3 of Set 9 : vanimo
Record 4 of Set 9 : serov
Record 5 of Set 9 : codrington
City not found. Next...
Record 6 of Set 9 : hobyo
City not found. Next...
Record 7 of Set 9 : gryazi
Record 8 of Set 9 : polovinnoye
Record 9 of Set 9 : loreto
Record 10 of Set 9 : mikkeli
Record 11 of Set 9 : talcahuano
Record 12 of Set 9 : champerico
Record 13 of Set 9 : nizhniye sergi
Record 14 of Set 9 : yar-sale
Record 15 of Set 9 : solnechnyy
Record 16 of Set 9 : bambanglipuro
Record 17 of Set 9 : mehran
Record 18 of Set 9 : mugur-aksy
Record 19 of Set 9 : zilair
Record 20 of Set 9 : gerede
Record 21 of Set 9 : calatayud
Record 22 of Set 9 : firozpur jhirka
Record 23 of Set 9 : mochishche
Record 24 of Set 9 : turtas
Record 25 of Set 9 : zaragoza
Record 26 of Set 9 : kharp
Record 27 of Set 9 : filingue
Record 28 of Set 9 : dawei
Record 29 of Set 9 : san policarpo
Record 30 of Set 9 : ponta delgada
Record 31 of Set 9 : tual
Record 32 of Set 9 : galesong
Record 33 of Set 9 : surt
Record 34 of Set 9 : jinan
Record 35 of Set 9 : buala
Record 36 of Set 9 : newton
Record 37 of Set 9 : nadym
Record 38 of Set 9 : tazovskiy
Record 39 of Set 9 : tamale
Record 40 of Set 9 : grand-santi
Record 41 of Set 9 : krasnokamensk
City not found. Next...
Record 42 of Set 9 : flinders
Record 43 of Set 9 : matcha
Record 44 of Set 9 : inhambane
Record 45 of Set 9 : pisco
Record 46 of Set 9 : sao joao da barra
Record 47 of Set 9 : alpena
Record 48 of Set 9 : tacna
Record 49 of Set 9 : bardiyah
Record 50 of Set 9 : svetlograd
Record 0 of Set 10 : biak
Record 1 of Set 10 : haines junction
Record 2 of Set 10 : lukovetskiy
Record 3 of Set 10 : kingston
Record 4 of Set 10 : avera
Record 5 of Set 10 : murray bridge
Record 6 of Set 10 : berlevag
Record 7 of Set 10 : bandarbeyla
Record 8 of Set 10 : hinton
Record 9 of Set 10 : phan thiet
Record 10 of Set 10 : odweyne
Record 11 of Set 10 : garowe
Record 12 of Set 10 : goderich
Record 13 of Set 10 : caucaia
Record 14 of Set 10 : hami
Record 15 of Set 10 : rawson
Record 16 of Set 10 : dobrinka
Record 17 of Set 10 : aguimes
Record 18 of Set 10 : moulins
Record 19 of Set 10 : kahului
Record 20 of Set 10 : eucaliptus
Record 21 of Set 10 : port hardy
Record 22 of Set 10 : svetlogorsk
Record 23 of Set 10 : trapani
Record 24 of Set 10 : noyabrsk
Record 25 of Set 10 : takapau
Record 26 of Set 10 : ancud
Record 27 of Set 10 : pingzhuang
Record 28 of Set 10 : minnedosa
Record 29 of Set 10 : aswan
City not found. Next...
Record 30 of Set 10 : saquarema
Record 31 of Set 10 : viedma
Record 32 of Set 10 : praia
Record 33 of Set 10 : ambilobe
Record 34 of Set 10 : sabha
Record 35 of Set 10 : sobolevo
Record 36 of Set 10 : rush
Record 37 of Set 10 : divnomorskoye
Record 38 of Set 10 : palu
Record 39 of Set 10 : kruisfontein
Record 40 of Set 10 : forbes
Record 41 of Set 10 : kolpashevo
City not found. Next...
City not found. Next...
Record 42 of Set 10 : longhua
Record 43 of Set 10 : mananjary
Record 44 of Set 10 : asmar
Record 45 of Set 10 : iwaki
Record 46 of Set 10 : pencaitland
City not found. Next...
Record 47 of Set 10 : limbang
Record 48 of Set 10 : zabid
Record 49 of Set 10 : sawakin
Record 50 of Set 10 : san antero
City not found. Next...
Record 0 of Set 11 : comodoro rivadavia

Record 1 of Set 11 : iracoubo
Record 2 of Set 11 : hudson bay
Record 3 of Set 11 : acapulco
Record 4 of Set 11 : holbeach
City not found. Next...
Record 5 of Set 11 : rio gallegos
Record 6 of Set 11 : araouane
Record 7 of Set 11 : quang ngai
Record 8 of Set 11 : manyana
Record 9 of Set 11 : lancaster
Record 10 of Set 11 : dunedin
Record 11 of Set 11 : buchanan
Record 12 of Set 11 : sapele
Record 13 of Set 11 : basar
Record 14 of Set 11 : lata
Record 15 of Set 11 : batemans bay
Record 16 of Set 11 : innisfail
Record 17 of Set 11 : sfantu gheorghe
Record 18 of Set 11 : muros
Record 19 of Set 11 : peniche
Record 20 of Set 11 : semey
Record 21 of Set 11 : mayumba
Record 22 of Set 11 : kodinsk
Record 23 of Set 11 : storm lake
Record 24 of Set 11 : kultuk
Record 25 of Set 11 : sanmenxia
Record 26 of Set 11 : shahr-e babak
Record 27 of Set 11 : altamira
City not found. Next...
Record 28 of Set 11 : santiago
Record 29 of Set 11 : shimoda
Record 30 of Set 11 : benguela
Record 31 of Set 11 : greifswald
Record 32 of Set 11 : marquette
-----------------------------
Data Complete
-----------------------------

## Create DataFrame

In [9]:
# Create data frame with data above
weather_dict = pd.DataFrame({ 
                "City" : city_name_list,
                "Cloudiness" : cloudiness_list,
                "Country" : country_list,
                "Date" : date_list,
                "Humidity" : humidity_list,
                "Lat" : lat_list,
                "Lng" : lng_list,
                "Max Temp" : max_temp_list,
                "Wind Speed" : wind_speed_list
})

In [8]:
# Count 
weather_dict.count()

City          542
Cloudiness    542
Country       542
Date          542
Humidity      542
Lat           542
Lng           542
Max Temp      542
Wind Speed    542
dtype: int64

In [10]:
#Data Frame
weather_dict

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Torbay,20,CA,1619033614,57,47.6666,-52.7314,51.01,18.41
1,Vaini,40,TO,1619033812,94,-21.2000,-175.2000,73.40,3.44
2,Leningradskiy,33,RU,1619033812,67,69.3833,178.4167,27.19,5.97
3,Puerto Ayora,75,EC,1619033813,78,-0.7393,-90.3518,80.60,11.50
4,George Town,40,MY,1619033583,89,5.4112,100.3354,80.60,2.30
...,...,...,...,...,...,...,...,...,...
537,Santiago,40,CL,1619033924,35,-33.4569,-70.6483,75.00,8.05
538,Shimoda,5,JP,1619033959,79,34.6667,138.9500,52.00,3.00
539,Benguela,27,AO,1619033959,85,-12.5763,13.4055,81.09,4.72
540,Greifswald,1,DE,1619033959,68,54.1000,13.3833,44.01,1.01
541,Marquette,99,US,1619033960,44,46.5333,-87.6335,36.00,5.01

In [15]:
# Save data into a csv file
weather_dict.to_csv("output_data/cities.csv", index = False)